<%= content_for :title do %>
  Page Template • <%= @page_template.name %>
<% end %>

<div class="card">
  <div class="card-header">
    <h1 class="text-center">
      <%= @page_template.name %>
    </h1>
  </div>
  <div class="card-body">
    <div class="col col-md-6 mx-auto">
      <%= render_content(@page_template.template) %>
    </div>
  </div>
  <div class="card-footer">
    <div class="card-footer-btn-group">
      <% if current_user %>
        <%= link_to "Edit page template", edit_page_template_path(@page_template), class: "btn" %>
        <%= link_to "Back to page templates", page_templates_path, class: "btn" %>
        <%= link_to "Destroy this page template", @page_template, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn" %>
      <% end %>
    </div>
  </div>
</div>
