<%= content_for :title do %>
  View Log • <%= @log.created_at %>
<% end %>

<div class="card">
  <div class="card-body">
    <h1 class="text-center"><%= @log.created_at %></h1>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h2>Basic Information</h2>
    <div>
      <b>Event</b>: <%= @log.event %>
    </div>
    <div>
      <b>Whodunnit</b>: <%= User.find_by_id(@log.whodunnit)&.name %>
    </div>
  </div>
  <div class="card-footer">
    <div class="card-footer-btn-group">
      <%= link_to "Revert this change", revert_audit_log_path(@log), data: { turbo_method: :post, turbo_confirm: 'Are you sure?' }, class: "btn" %>
      <%= link_to "Destroy this log", audit_log_path(@log), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn" %>
      <%= link_to "Back to audit log", audit_log_index_path, class: "btn" %>
    </div>
  </div>
</div>

<% if current_user %>
<% end %>


<% if @log.item_type == "Page" && @log_hash.has_key?("html_cache") %>
  <div class="row mt-2">
    <div class="d-flex flex-column col-md">
      <div class="card h-100">
        <div class="card-header">
          <h2 class="text-center">Content Before</h2>
        </div>
        <div class="card-body d-flex flex-column">
          <%= @log_hash["html_cache"][0].html_safe rescue "" %>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column col-md">
      <div class="card h-100">
        <div class="card-header">
          <h2 class="text-center">Content After</h2>
        </div>
        <div class="card-body d-flex flex-column">
          <%= @log_hash["html_cache"][1].html_safe rescue "" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-body overflow-auto text-wrap">
    <h2>Changes</h2>
    <table class="table table-striped-column">
      <thead>
        <tr>
          <th scope="col">Attribute</th>
          <th scope="col">Before</th>
          <th scope="col">After</th>
        </tr>
      </thead>
      <tbody>
        <% @log_hash.each do |key, value| %>
          <tr>
            <th scope="row">
              <%= key %>
            </th>
            <td>
              <% if value[0].nil? %>
                <i>nil</i>
              <% else %>
                <%= value[0] %>
              <% end %>
            </td>
            <td>
              <% if value[1].nil? %>
                <i>nil</i>
              <% else %>
                <%= value[1] %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if current_user %>
  <%= link_to "Revert this change", revert_audit_log_path(@log), data: { turbo_method: :post, turbo_confirm: 'Are you sure?' }, class: "btn btn-cardlike w-100 my-2" %>
  <%= link_to "Destroy this log", audit_log_path(@log), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-cardlike w-100 my-2" %>
  <%= link_to "Back to audit log", audit_log_index_path, class: "btn btn-cardlike w-100 my-2" %>
<% end %>
