<%= simple_form_for(@page, data: { controller: "editor template", action: "template:update->editor#update" }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="card">
    <%= f.input :title, label: false, wrapper: false, placeholder: "Page Title", input_html: { class: "card-header fs-1 m-0 border-0 border-bottom text-center" } %>
    <div class="card-body">
      <%= f.input :page_category_id, label: "Page Category (Optional)", as: :select, collection: PageCategory.all %>
      <%= simple_fields_for :no_model_fields do |n| %>
        <%= n.input :template_id, label: "Template (Optional)", as: :select, collection: PageTemplate.all, input_html: { "data-template-target": "templateId", "data-action": "input->template#update" } %>
      <% end %>
      <%= f.hidden_field :content, id: "content_hidden" %>
      <%= f.label "Page Content", class: "form-label optional" %>
      <div class="border rounded mb-3" id="content" data-editor-target="content"></div>
      <%= f.input :draft %>
    </div>

    <div class="card-footer">
      <div class="card-footer-btn-group">
        <%= f.button :submit %>
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
