<%= simple_form_for(@page, data: { controller: "editor" }) do |f| %>
  <div class="card">
    <%= f.input :title, label: false, wrapper: false, input_html: {class: 'card-header fs-1 m-0 border-0 border-bottom'} %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="card-body">
      <%= f.hidden_field :content, id: "content_hidden" %>
      <div id="content" data-editor-target="content"></div>
    </div>

    <div class="card-footer">
      <div class="card-footer-btn-group">
        <%= f.button :submit %>
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
