<div class="card h-100">
  <div class="card-header">
    <%= version.created_at %>
  </div>
  <div class="card-body d-flex flex-column">
    <div>
      <b>Event</b>: <%= version.event %>
    </div>
    <div>
      <b>Whodunnit</b>: <%= User.find_by_id(version.whodunnit)&.name %>
    </div>
    <div>
      <b>Model</b>: <%= version.item_type %>
    </div>
    <% if version.item_type == "Page" %>
      <div>
        <b>Record</b>: <%= version.object ? PaperTrail.serializer.load(version.object)["title"] : PaperTrail.serializer.load(version.object_changes)["title"][1] %>
      </div>
    <% end %>
  </div>
  <%= yield %>
</div>
