<div class="card">
  <div class="card-header">
    <%= version.created_at %>
  </div>
  <div class="card-body">
    <div>
      <b>Event</b>: <%= version.event %>
    </div>
    <div>
      <b>User</b>: <%= User.find(version.whodunnit).name %>
    </div>
    <div>
      <b>Record</b>: <%= version.object ? PaperTrail.serializer.load(version.object)["title"] : PaperTrail.serializer.load(version.object_changes)["title"][1] %>
    </div>
  </div>
  <%= yield %>
</div>
