<footer class="footer-format bg-body-teritary">
  <div class="container py-5 col-12 col-md">
    <h3 class="fw-bold text-center">We are proudly sponsored by...</h5>
    <h5 class="fw-bold text-center">Strategic Partners</h5>
    <div class="row row-cols-2 row-cols-md-4 g-0 justify-content-center row-gap-3 mt-2">
      <div class="col my-auto text-center">
        <a href="https://www.caterpillar.com/" target="_blank">
          <%= image_tag "sponsors/caterpillar.png", alt: "Caterpillar Logo", class: "sponsor-image" %>
        </a>
      </div>
      <div class="col my-auto text-center">
        <a href="https://purduefirst.org/" target="_blank">
          <%= image_tag "sponsors/purduefirst.png", alt: "PFP Logo", class: "sponsor-image" %>
        </a>
      </div>
      <div class="col my-auto text-center">
        <a href="https://www.stratasys.com/en/" target="_blank">
          <%= image_tag "sponsors/stratasys.webp", alt: "Stratasys Logo", class: "sponsor-image" %>
        </a>
      </div>
      <div class="col my-auto text-center">
        <a href="https://www.wl.k12.in.us/" target="_blank">
          <%= image_tag "sponsors/wl.png", alt: "WL Logo", class: "sponsor-image" %>
        </a>
      </div>
      <div class="col my-auto text-center">
        <a href="https://sledgehammerinfosystems.com/" target="_blank">
          <%= image_tag "sponsors/sledgehammer.png", alt: "Sledgehammer Logo", class: "sponsor-image" %>
        </a>
      </div>
      <div class="col my-auto text-center">
        <a href="https://www.arconic.com/" target="_blank">
          <%= image_tag "sponsors/arconic.png", alt: "Arconic Logo", class: "sponsor-image" %>
        </a>
      </div>
      <div class="col my-auto text-center">
        <a href="https://candcdi.com/" target="_blank">
          <%= image_tag "sponsors/ccdi.png", alt: "CCDI Logo", class: "sponsor-image" %>
        </a>
      </div>
      <div class="col my-auto text-center">
        <h5>Westside Boiler Invasion Families & Alumni</h5>
      </div>
    </div>
    <h5 class="display-7 fw-bold mt-5 text-center">Gold Sponsors</h5>
    <div class="row row-cols-2 row-cols-md-4 g-0 justify-content-center row-gap-3 mt-2">
      <div class="col my-auto text-center">
        <a href="https://www.andymark.com/" target="_blank">
          <%= image_tag "sponsors/andymark.png", alt: "Andymark Logo", class: "sponsor-image" %>
        </a>
      </div>
      <div class="col my-auto text-center">
        <a href="https://9and8golf.com/" target="_blank">
          <%= image_tag "sponsors/98golf.png", alt: "9and8Golf Logo", class: "sponsor-image" %>
        </a>
      </div>
      <div class="col my-auto text-center">
        <a href="https://www.conexusindiana.com/resources/purdue-in-mac/" target="_blank">
          <%= image_tag "sponsors/inmac.png", alt: "In-MaC Logo", class: "sponsor-image" %>
        </a>
      </div>
      <div class="col my-auto text-center">
        <a href="https://ghaasfoundation.org/content/ghf/en/home.html" target="_blank">
          <%= image_tag "sponsors/genehaas.webp", alt: "GeneHaas Logo", class: "sponsor-image" %>
        </a>
      </div>
      <div class="col my-auto text-center">
        <a href="https://summitfinancialgroupofindiana.com/" target="_blank">
          <%= image_tag "sponsors/summit.svg", alt: "Summit Logo", class: "sponsor-image" %>
        </a>
      </div>
      <div class="col my-auto text-center">
        <a href="https://www.radianresearch.com/" target="_blank">
          <%= image_tag "sponsors/radian.png", alt: "Radian Logo", class: "sponsor-image" %>
        </a>
      </div>
    </div>
    <h5 class="display-7 fw-bold mt-5 text-center">Silver Sponsors</h5>
    <div class="row row-cols-1 row-cols-md-4 g-0 justify-content-center row-gap-3 mt-2">
      <div class="col my-auto text-center">
        <a href="https://www.oscarwinski.com/" target="_blank">
          <%= image_tag "sponsors/oscarwinski.png", alt: "Oscar Logo", class: "sponsor-image" %>
        </a>
      </div>
      <div class="col my-auto text-center">
        <a href="https://www.colorsinc.com/" target="_blank">
          <%= image_tag "sponsors/colorsinc.jpg", alt: "Colorsinc Logo", class: "sponsor-image" %>
        </a>
      </div>
      <div class="col my-auto text-center">
        <a href="https://selinc.com/" target="_blank">
          <%= image_tag "sponsors/sel.png", alt: "SEL Logo", class: "sponsor-image" %>
        </a>
      </div>
    </div>
    <%= image_tag "logo.png", alt: "WBI logo", height: "32px" %>
    <span class="ps-4 float-end" style="min-width: 100px;">
      <small class="d-block mb-2">Follow Us</small>
      <a class="text-black text-decoration-none" href="https://www.instagram.com/team461wbi/" target="_blank">
        <i class="bi bi-instagram fs-2"></i>
      </a>
      <a class="text-black text-decoration-none" href="https://twitter.com/frc461" target="_blank">
        <i class="bi bi-twitter-x fs-2"></i>
      </a>
      <a class="text-black text-decoration-none" href="https://www.facebook.com/WBI461/" target="_blank">
        <i class="bi bi-facebook fs-2"></i>
      </a>
      <a class="text-black text-decoration-none p-1" href="https://github.com/frc461" target="_blank">
        <i class="bi bi-github fs-2"></i>
      </a>
    </span>
    <small class="d-block mb-3 text-muted mt-3">&copy;2024 461 Boosters FIRST, Inc. dba Westside Robotics</small>
    <small class="d-block mb-3 text-muted">Contributions by Gerseneck, leo-minton, SomiSauce, yeoms25, ez500
      (<a class="text-dark" href="https://github.com/frc461/website-2024" target="_blank" >Source</a>)
      <span class="float-end">
        <%= image_tag "sand.png", alt: "Wabi & Scarlet", height: "64px" %>
      </span>
    </small>
  </div>
</footer>
