<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= image_tag "logo.png", height: "30px" %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="<%= about_us_path %>">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= history_path %>">Team History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= news_path %>">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= resources_path %>">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://westside-robotics.info/" target="_blank">Learn More</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://donate.boilerinvasion.org/" target="_blank">Donate</a>
        </li>
      </ul>
      <form class="d-flex" role="search" action="<%= search_path %>">
        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="mx-0 my-2 my-lg-0 mx-lg-2">
        <%= link_to 'Dashboard', if current_user then dashboard_index_path else new_user_session_path end, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</nav>
